/* Styling the header */
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header-left{
    display: flex;
    flex: 50%;
    background-color: aqua;
}

.header-right{
    display: flex;
    flex: 50%;
    background-color: black;
}
