body{
    margin: 0;
}

.header-navbar{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 87%;
    height: 45px;
    top: 10%;
    bottom: 10%;
}

.header-navbar-logo{
    display: flex;
}

.link-to-sef , .link-to-menu{
  z-index: 2;
}

.link-to-menu{
  display: flex;
  background-color: #282828;
  border-radius: 8px;
  justify-self: center;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.header-left{
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: rgba(251, 80, 142, 0.93);
    flex: 1 0 0;
    align-self: stretch;
    align-content: center;
    position:relative;
}

.left-bg{
  position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-right{
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #282828;
    flex: 1 0 0;
    align-self: stretch;
}

.right-bg{
    display: flex;
    opacity: 0.1;
    left: 0;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 990px) {
    .header-container{
        flex-direction:column;
        height: 176vh;
    }
    .header-left{
        width:100%;
        height:88vh;
    }
    .header-right{
        width:100%;
        height:88vh;
    }
    .header-navbar{
        top: 5%;
        left: 5%;
    }

  
  }

/* Styling left header section */

.header-left-title{
  margin: 0;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

  .header-left-content{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
    color: white;
    font: 16px;
    font-family: sans-serif;
  }

  .header-left-description{
    text-align: right;
    font-family: sans-serif;
    color: white;
  }

  .header-left-title-main{
    width: fit-content;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    padding: 1px 5px;
  }

  .header-left-title-detail{
    margin-top: 0;
  }

  .header-left-button{
    font-size: 16px;
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
  }

  /* Styling right header section */

  .header-right-title{
    margin: 0;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
    .header-right-content{
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px;
    }
  
    .header-right-description{
      text-align: left;
      font-family: sans-serif;
      color: white;
    }
  
    .header-right-title-main{
      width: fit-content;
      margin-bottom: 5px;
      font-size: 24px;
      font-family: sans-serif;
      background-color: white;
      color:#282828;
      padding: 1px 5px;
    }
  
    .header-right-title-detail{
      margin-top: 0;
      color: white;
    }
  
    .header-right-button{
      font-size: 16px;
      font-family: sans-serif;
      background-color: white;
      color:#282828;
      padding: 15px 20px;
      text-decoration: none;
    }

/* Styling hello world section */

.hello-world-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: #f1f2f3;
}

.hello-world-title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
  padding-top: 10vh;
}

.hello-world-title{
  font-family: Noto Sans Mono, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.dot-black, .dot-grey, .dot-aqua {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.dot-black{
  background-color: black;
}
.dot-grey{
  background-color: grey;
}
.dot-aqua{
  background-color: #28eea7;
}

.youtube-video-container{
position: relative;
width: 100%;
overflow: hidden;
padding-top: 56.25%;
margin-bottom: 20px;
}

.youtube-video{
  border-width: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #28eea7;
  position: absolute;
  top: 8%;
  left: 5%;
  bottom: 8%;
  right: 0;
  width: 90%;
  height: 84%;
}


